body {
  background-color: oldlace;
}
body .carousel-control-prev-icon,
body .carousel-control-next-icon {
  background-color: black;
}
body .anchor {
  padding-top: 80px;
  margin-top: -80px;
}
body #contact [type="checkbox"] {
  margin-right: 5px;
}
body #contact [type="submit"] {
  cursor: pointer;
}
body #message {
  display: none;
  margin-top: 15px;
}
body .navbar-toggler {
  z-index: 1;
}
@media (max-width: 576px) {
  body nav > .container {
    width: 100%;
  }
}
body .carousel-inner .carousel-item img {
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
