.anchor {
    padding-top: 80px;
    margin-top: -80px;
}
#contact [type = "checkbox"]{
        margin-right: 5px;
}
#contact [type = "submit"]{
        cursor: pointer;
}
   .navbar-toggler {
        z-index: 1;
    }
    
    @media (max-width: 576px) {
        nav > .container {
            width: 100%;
        }
    }
    .carousel-inner .carousel-item img {
        /* margin:auto; */
        max-width: 100%;
        max-height: 100%;
    }
    p {
        font-size: 20px;
    }